.container {
  width: 100%;
  min-height: 800px;
}

mat-tab-group {
  max-width: 700px;
  margin: 0 auto;
}

mat-card-subtitle{
  display:flex;
}

.legend {
  margin-top: 4px;
}

.flex-container {
  display:flex;
}

.mat-card{
  max-width: 300px;
  min-width: 300px;
}

.add-form {
  min-width: 350px;
}

.status-yellow {
  color: goldenrod;
  font-weight: bold;
}

.status-green {
  color: green;
  font-weight: bold;
}

.status-blue {
  color: dodgerblue;
  font-weight: bold;
}

.status-red {
  color: red;
  font-weight: bold;
}

.status-purple {
  color:mediumpurple;
  font-weight: bold;
}

.no-results-cell {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.no-results-row {
  background-color: #f5f5f5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  white-space: nowrap;
}

th {
  background-color: #f5f5f5;
}

td {
  border-bottom: 1px solid #ddd;
}

tr:last-child td {
  border-bottom: none;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 12px;
  }
}

.full-width-radio {
  gap: 20px;
  display: inline-flex;

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: goldenrod;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: goldenrod;
    background-color: goldenrod;
  }

  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: gold;
  }

}

.registration-content {
  text-align: center;
}

.full-width-input {
  width: 100%;
}

.submit-button {
  margin-top: 5px;
  background-color: goldenrod;
  color: white;
}

