.mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.sign-in-content {
  padding: 60px 1rem;
  min-height: 700px;
}

.full-width-input {
  width: 100%;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:goldenrod;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:goldenrod;
  background-color:goldenrod;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:gold;
}

.submit-button {
  background-color: goldenrod;
  color: white;
}




