<div class="container" *ngIf="user.type === 'client' ">
  <mat-form-field appearance="fill">
    <mat-label>Filter by Status</mat-label>
    <mat-select [(value)]="selectedStatus" (selectionChange)="filterJobs()">
      <mat-option value="all">ALL</mat-option>
      <mat-option value="waiting">WAITING</mat-option>
      <mat-option value="accepted">ACCEPTED</mat-option>
      <mat-option value="in progress">IN PROGRESS</mat-option>
      <mat-option value="completed">COMPLETED</mat-option>
      <mat-option value="paid">PAID</mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="filteredJobs" class="mat-elevation-z8">
    <!-- Object Type Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Job Status</th>
      <td mat-cell *matCellDef="let job" [ngClass]="getStatusClass(job.status)">{{ job.status.toUpperCase() }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="dateFrom">
      <th mat-header-cell *matHeaderCellDef>Date From</th>
      <td mat-cell *matCellDef="let job">{{ datePipe.transform(job.dateFrom,'mediumDate') }}</td>
    </ng-container>

    <!-- Number of Rooms Column -->
    <ng-container matColumnDef="dateTo">
      <th mat-header-cell *matHeaderCellDef>Date To</th>
      <td mat-cell *matCellDef="let job">{{ datePipe.transform(job.dateTo, 'mediumDate') }}</td>
    </ng-container>

    <!-- Square Footage Column -->
    <ng-container matColumnDef="agency">
      <th mat-header-cell *matHeaderCellDef>Agency</th>
      <td mat-cell *matCellDef="let job">{{ job.agencyUsername }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let job">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="viewSketch(job.property.sketch)">
            <mat-icon>pageview</mat-icon>
            <span>View</span>
          </button>
          <button mat-menu-item [disabled]="job.status!='accepted'" (click)="acceptJobClient(job._id)">
            <mat-icon>check_box</mat-icon>
            <span>Accept</span>
          </button>
          <button mat-menu-item [disabled]="job.status!='accepted'" (click)="declineJobClient(job._id)">
            <mat-icon>check_box</mat-icon>
            <span>Decline</span>
          </button>
          <button mat-menu-item [disabled]="job.status!='completed'" (click)="payAgency(job._id)">
            <mat-icon>payment</mat-icon>
            <span>Pay</span>
          </button>
          <button mat-menu-item [disabled]="job.status!='paid' || (job.review!=undefined && job.review!=null)" (click)="postComment(job._id)">
            <mat-icon>comment</mat-icon>
            <span>Review</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let property">{{ property.price }}</td>
    </ng-container>


    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let property; columns: displayedColumns;"></tr>
  </table>
</div>



<div class="container" *ngIf="user.type === 'agency' ">
  <mat-form-field appearance="fill">
    <mat-label>Filter by Status</mat-label>
    <mat-select [(value)]="selectedStatus" (selectionChange)="filterJobs()">
      <mat-option value="all">ALL</mat-option>
      <mat-option value="waiting">WAITING</mat-option>
      <mat-option value="in progress">IN PROGRESS</mat-option>
      <mat-option value="completed">COMPLETED</mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="filteredJobs" class="mat-elevation-z8">
    <!-- Object Type Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Job Status</th>
      <td mat-cell *matCellDef="let job" [ngClass]="getStatusClass(job.status)">{{ job.status.toUpperCase() }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="dateFrom">
      <th mat-header-cell *matHeaderCellDef>Date From</th>
      <td mat-cell *matCellDef="let job">{{ datePipe.transform(job.dateFrom,'mediumDate') }}</td>
    </ng-container>

    <!-- Number of Rooms Column -->
    <ng-container matColumnDef="dateTo">
      <th mat-header-cell *matHeaderCellDef>Date To</th>
      <td mat-cell *matCellDef="let job">{{ datePipe.transform(job.dateTo, 'mediumDate') }}</td>
    </ng-container>

    <!-- Square Footage Column -->
    <ng-container matColumnDef="agency">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let job">{{ job.clientUsername }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let job">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="viewSketch(job.property.sketch)">
            <mat-icon>pageview</mat-icon>
            <span>View</span>
          </button>
          <button mat-menu-item [disabled]="job.status!='waiting'" (click)="acceptJobAgency(job._id)">
            <mat-icon>check_box</mat-icon>
            <span>Accept</span>
          </button>
          <button mat-menu-item [disabled]="job.status!='in progress'" (click)="editProgress(job._id)">
            <mat-icon>edit</mat-icon>
            <span>Update progress</span>
          </button>
          <button mat-menu-item [disabled]="job.status!='waiting'" (click)="rejectJob(job._id)">
            <mat-icon>cancel_presentation</mat-icon>
            <span>Reject</span>
          </button>
        </mat-menu>
      </td>

    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let property">{{ property.price }}</td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let property; columns: displayedColumns;"></tr>
  </table>
</div>



